label b{
    text-transform: capitalize ;
    margin-top: 10px;
}
::placeholder{
    text-transform: capitalize ;

}
.form-group{
    margin-top: 10px;
}
.alert{
   padding:  0.5rem 1rem;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }